@*
 * This file is part of the Nextbeat services.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 *@

@import views.html.helper
@import model.site.app.SiteViewValueNewEmployer
@import persistence.employer.model.Employer
@import play.api.data.Form

@(vv: SiteViewValueNewEmployer, form: Form[Employer])(implicit messages: play.api.i18n.Messages)

@** ユーザー登録フォーム *@
@views.html.common.layout.InnerContent("site-app-new-employer-form", "content") {
  @** --[ 見出し ]---------------------------------------------------------- *@
  <h3 class="content__section header">
    <span class="header__title">新規登録</span>
  </h3>

  @** --[ フォーム ]-------------------------------------------------------- *@
  <div class="content__section form">
    @helper.form(action = controllers.employer.routes.EmployerController.registerEmployer()) {

      @** 住所: 都道府県 *@
      <div class="form__section pref">
        @helper.select(
          field   = form("locationId"),
          options = vv.location.map(v => (v.id, v.namePref)),
          '_label           -> "都道府県",
          '_showConstraints -> false
        )
      </div>

      @** 名前 *@
      <div class="form__section name">
        @helper.inputText(
          form("name"),
          '_label           -> "名前",
          '_showConstraints -> false
        )
      </div>

      @** 住所: 詳細 *@
      <div class="form__section address">
        @helper.inputText(
        form("address"),
        '_label           -> "住所",
        '_showConstraints -> false
        )
      </div>

      @** メールアドレス *@
      <div class="form__section email">
        @helper.inputText(
          form("email"),
          '_label           -> "メールアドレス",
          '_showConstraints -> false
        )
      </div>

      @** パスワード *@
      <div class="form__section password">
        @helper.inputPassword(
        form("password"),
        '_label           -> "パスワード",
        '_showConstraints -> false
        )
      </div>

      @** 電話番号 *@
      <div class="form__section phone">
        @helper.inputText(
        form("phone"),
        '_label           -> "電話番号",
        '_showConstraints -> false
        )
      </div>

      <div class="form__section description">
        @helper.inputText(
        form("description"),
        '_label           -> "プロフィール",
        '_showConstraints -> false
        )
      </div>

      <div class="form__section image">
        @helper.inputText(
        form("image"),
        '_label           -> "プロフィール画像",
        '_showConstraints -> false
        )
      </div>

      @** 登録ボタン *@
      <div class="form__section submit">
        <button class="button button-stroked" type="submit">
          <span class="submit__text">新規アカウント登録</span>
        </button>
      </div>
    }
  </div>
}
