
<!DOCTYPE html>
<body>
    <div class="inaka-container">
        @views.html.common.component.image.ResponsiveImage(
            path    = "top/inaka.jpg",
            alt     = "inaka",
            classes = "inaka__image"
        )
    </div>
    <div>
        @views.html.common.component.image.ResponsiveImage(
            path    = "top/tokai.jpg",
            alt     = "tokai",
            classes = "tokai__image top__image"
        )
    </div>

    <button class="button"><a href="/"></a></button>
</body>