#applicant-list {
 margin: 0 10vw;   
}

#applicant-list {
}

.applicant-list-container {
    padding: 0 2.5vw;
    display: flex;
    flex-wrap: wrap;

    .title {
        text-align: center;
        font-weight: bold;
    }

    .applicant-item {
        width: 13vw;
        height: 40vh;
        // border: black solid 1px;
        margin: 2.5vh 2.5vw;
        // background-color: #fff;
    }
    .applicant-option {
        padding: 10%;   
        font-size: 90%;
        line-height: 2rem;
    }
}

.kawai__image {
    width: 90%;
    margin: 5%;
    text-align: center;
}

