#employer-show {
    height: 100vh;
}

.employer-show-img {
    position: relative;
    z-index: -10;
    width: 100vw;
    opacity: 0.7;

    img {
        width: 100vw;        
        top: -20vh;
        position: absolute;
    }
}

#employer-show-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    button {
        margin: 40vh 5vw 0 5vw; 
        width: 15vw;
        height: 10vh; 
    }
}

.button_strong {
    font-size: 150%;

}

.employer-show-header {
    text-align: center;
    margin-top: 10vh; 
    font-size: 300%; 
}